main {
  background-color: $background;
}

.hero {
  width: 100%;
  height: 100vh;

  .hero-image {
    height: 100%;
    width: 100%;
  }
}

h2 {
  @media screen and (min-width: 1024px) {
    font-size: $xl-size;
  }
}

.center {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .description{
    text-align: center;
    font-size: $ms-size;
    padding: 80px 20px;
    @media screen and (min-width: 768px) {
      padding: 100px 120px;
    }
    @media screen and (min-width: 1024px) {
      padding: 120px 140px;
    }
  }
  .gallery {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: stretch;
    width: 100%;
    margin-top: 10px;
  }
  .gallery-item {
    flex: 1;
    max-width: 33%;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-content: center;    
    margin-top: 20px;
  }
  .about-item {
    flex: 1;
    width: 40vw;
    align-self: center;
    margin-top: 30px;
  }
  .team {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .team-column {
    display: flex;
    flex-direction: column;
    min-width: 25%;
  }
  .team-item {
    margin: 30px 10px;
  }
  .team-logo {
    margin: 20px 30%;
  }
}
.parallax {
  background-image: url('../images/vakridalur-klart.webp');
  background-attachment: fixed;
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin: 80px 0;
  @media screen and (min-width:1024px) {
    height: 400px;
  }
}

.parallax-top {
  background-image: url('../images/vakridalur-kamt.webp');
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  @media screen and (min-width:1024px) {
    height: 300px;
  }
}